body {
    font-family: "Arial";
    text-align: center;
    background: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#tetris {
    background: #111;
    border: 10px solid #888;
}

.side {
    margin-left: 20px;
}

#next {
    background: #111;
    border: 5px solid #555;
}

.controls {
    margin-top: 20px;
}

.controls button, .ng {
    font-size: 20px;
    padding: 10px 25px;
    margin: 5px;
}
